body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 9999;
}
.add-button{
  margin-top: 6rem;
  margin-left: 8rem;
  width: 300px;
  height: 45px;
  background-color: rgb(84, 168, 140);
}
/* .main {
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 1.5rem;
} */

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color:rgb(66, 84, 66);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
}

.drawer.open {
  width: 300px; 
}
.drawer-content {
  background-color: #335333;
  flex-direction: row;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: center;
  
}

.drawer-content img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 24, 13, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

.close-button {
  margin-top: 1rem;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 8rem ;
  background-color: white; 
  width: 1050px;
}

.line p {
  font-weight: bold;
  font-size: 1.2rem;
}

.line p span {
  padding: 0 1rem; 
  display: inline-block;
  width: 200px; 
}

